@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-x: visible;
}

body {
  background: rgb(0,0,0);
background: -moz-linear-gradient(357deg, rgba(0,0,0,1) 0%, rgb(26, 26, 26) 100%);
background: -webkit-linear-gradient(357deg, rgba(0,0,0,1) 0%, rgb(27, 27, 27) 100%);
background: linear-gradient(357deg, rgba(0,0,0,1) 0%, rgb(26, 26, 26) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#373737",GradientType=1);
height: full;
color: white;
}

.glas-nav {
  background: rgba(255, 255, 255, 0);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
/* border-radius: 10px; */
/* border-bottom: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.bd {
  writing-mode: vertical-lr;
  text-combine-upright: digits 2;
  text-align: center;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bg-gradasi1 {
  background: rgb(22,22,22);
  background: -moz-linear-gradient(331deg, rgba(22,22,22,1) 0%, rgba(45,45,45,1) 100%);
  background: -webkit-linear-gradient(331deg, rgba(22,22,22,1) 0%, rgba(45,45,45,1) 100%);
  background: linear-gradient(331deg, rgba(22,22,22,1) 0%, rgba(45,45,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161616",endColorstr="#2d2d2d",GradientType=1);
}


.blur1 {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.blur2 {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}
